<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574425978056-0ijh9c4a11l9rrfr6770d445hibgtpn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574425978056-0ijh9c4a11l9rrfr6770d445hibgtpn3</string>
	<key>API_KEY</key>
	<string>AIzaSyDac1Mta0wlOXpfgiZ31l-1uW8ZRWXeiIA</string>
	<key>GCM_SENDER_ID</key>
	<string>574425978056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.larabug.app</string>
	<key>PROJECT_ID</key>
	<string>larabug-e2494</string>
	<key>STORAGE_BUCKET</key>
	<string>larabug-e2494.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574425978056:ios:7ec3ab8e9116e426a441fd</string>
</dict>
</plist>